[submodule "Qwen3-Embedding"]
	path = Qwen3-Embedding
	url = https://github.com/QwenLM/Qwen3-Embedding.git
[submodule "third_party/ms-swift"]
	path = third_party/ms-swift
	url = https://github.com/modelscope/ms-swift.git
[submodule "third_party/mteb"]
	path = third_party/mteb
	url = https://github.com/embeddings-benchmark/mteb.git
[submodule "third_party/CodeFuse-Embeddings"]
	path = third_party/CodeFuse-Embeddings
	url = https://github.com/codefuse-ai/CodeFuse-Embeddings.git
